body {
  font-family: "Source code pro", Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  color: rgb(248, 246, 250);
  font-size: 1em;
  text-align: center;
  background-color: rgb(33, 136, 233);
  height: 10%;
  padding: 10px;
}

.contenuprincipal {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

nav {
  color: rgb(248, 246, 250);
  background-color: rgb(125, 196, 224);
  width: 15%;
  top: 50px;
  padding: 1%;
  border: 1px solid blue;
  box-shadow: 2px 2px 2px gray;
}
nav h1 {
  text-align: center;
}

section {
  width: 82%;
  top: 50px;

  display: flex;
  flex-direction: column;
}

article {
  border: 1px solid blue;
  margin: 5px;
  padding: 1em;
  background-color: rgb(188, 216, 224);
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
}

img {
  border: solid;
  width: 150px;
  height: 150px;
  margin: 10px;
  float: left;
}

video {
  border: solid;
  width: 150px;
  margin: 10px;
  float: left;
}
